ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #F06543;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e8e9eb;
}

.wrapper {
  display: grid;
  grid-template-columns: 500px 500px 500px;
  grid-gap: 10px;
  background-color: #e8e9eb;
  color: #444;
  margin: 0 auto;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  word-break: break-word;
}
.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {
  background-color: #e7e7e7; color: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
} /* Gray */
.button5 {background-color: #555555;} /* Black */